@charset "UTF-8";
/* CSS Document */
html, body {
	
	font-family: 'News Cycle', sans-serif;
		height:100%;
	min-height:100%;
	
background: rgb(219,219,219);

background: -moz-linear-gradient(left,  rgba(219,219,219,1) 0%, rgba(255,255,255,1) 50%, rgba(219,219,219,1) 100%);

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,219,219,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1)));

background: -webkit-linear-gradient(left,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 50%,rgba(219,219,219,1) 100%);

background: -o-linear-gradient(left,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 50%,rgba(219,219,219,1) 100%);

background: -ms-linear-gradient(left,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 50%,rgba(219,219,219,1) 100%);
background: linear-gradient(to right,  rgba(219,219,219,1) 0%,rgba(255,255,255,1) 50%,rgba(219,219,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#dbdbdb',GradientType=1 );



	
}
.bold {
	font-weight:bold;}
	

img {
height: auto;
max-width: 100%;
}

#banner {
	
	width:100%;
	margin:0px auto;
}

nav {
	margin-top:0.5%;
	background:url(images/fondo.png);
	background-repeat:repeat;
	background-attachment:fixed;
	width:100%;
	font-weight:bold;
	
}

nav ul {
	
	padding-top: 1%;
	padding-bottom:2%;
	font-size:small;
	list-style-type:none;
	text-align:center;
	margin: 0% auto;
	
}

nav li {
	width:13%;
	color:rgba(0,0,0,1.00);
	display:inline-block;
	text-align:center;	

}

nav a {
	color:rgba(255,255,255,1.00);
	text-decoration:none;
	transition:all 0.2s;

}

nav a:hover {
	-webkit-box-shadow: 0px 3px rgba(255,255,255,1.00);
	box-shadow: 0px 3px rgba(255,255,255,1.00);
}

#scale1 {
	-webkit-transition: all 0.7s;
}

#scale1:hover {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
}

.wrap {
	width:70%;
	margin: 0px auto;
}
.clearfix {
	clear:both;
}


#logo {
	-webkit-transition: all 0.5s;
	width:20%;
	float:left;
	margin-top:3%;
	
}
#logo:hover {
	transform: scale(0.8);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
}

.logo {
	width:100%;
	max-width:255px;
	
}

#rs {
	
	width: 60%;
	float:right;
	text-align:right;
	margin-top:13%;
	display:inline-block;
}

.carrito {
	margin-left:5%;
}

#slider {
	margin: 0px auto;
	width:100%;
	
}
#cajacolumnas1 {
	
	margin-top:3%;
	padding-top:2%;
	padding-bottom:5%;
	width: 100%;
	float: left;
	border-top-color: #1d70b8;
	border-bottom-color: #1d70b8;
	border-width: 4px 0px 4px 0px;
	border-style: solid;	

}
#cajacolumnas2 {
	
	margin-top:1%;
	padding-bottom:5%;
	padding-top:4%;
	width: 100%;
	float: left;
	border-color: #1d70b8;
	border-width: 0px 0px 4px 0px;
	border-style: solid;	

}
.bordesuperior {
	
	margin-top:1%;
	width: 100%;
	border-color: #1d70b8;
	border-width: 4px 0px 0px 0px;
	border-style: solid;	

}
#col1 {
	
	width:30%;
	float:left;
	display:inline;
	
	}

#col2 {
	
	width:30%;
	float:left;
	margin-left:5%;
	margin-right:5%;
	display:inline;
	}

#col3 {
	
	width:30%;
	float:right;
	display:inline;
	
}
.imgchica {
	float:left;
	width:30%;
	margin-top:10%;}
	
	
.texto {
	float:right;
	width:67%;
	
}

#cajanoticias {
	margin: 3% 0%;
	
	width: 100%;
	
}
#cajanoticiascolor{
	margin:2%;
	
}
.separadornoticias {
	
	margin:18% 0%; }

.bordenoticias {
	border-color:rgba(38,34,86,1);
	border-bottom-width:3px;
	border-style: solid;	
	
}

#noticia1 {
	width:30%;
	
	float:left;
	background-color:#636363;
	}

#noticia2 {
	width:30%;
	
	float:left;
	margin-left:5%;
	margin-right:5%;
	background-color:#636363;
	}

#noticia3 {
	width:30%;
	
	float:right;
	background-color:#636363;
}
.margennoticias {
	margin:0% 0% 0% 3%;
}
#color1 {
	width:30%;
	padding:1% 0% 1% 0%;
	float:left;
	background-color:#1d70b8;
	
	}

#color2 {
	width:30%;
	padding:1% 0% 1% 0%;
	float:left;
	margin-left:5%;
	margin-right:5%;
	background-color:#1d70b8;
	}

#color3 {
	width:30%;
	padding:1% 0% 1% 0%;
	float:right;
	background-color:#1d70b8;
}


.floatleft {
	float:left;
	margin-right:6%;
	
}

h1 {					<!--INDEX-->
	font-family: 'News Cycle', sans-serif;
	font-size:large;
	font-weight:bold;
	color:#575756;
	
	}
h2 {									<!--FOOTER-->
	font-family: 'News Cycle', sans-serif;
		color:rgba(255,255,255,1.00);
		margin: 0% 0% 0% 3%;
	}
h3 {									<!--FOOTER-->
	text-decoration:none;
	font-family: 'News Cycle', sans-serif;
		color:rgba(255,255,255,1.00);
		font-weight:bold;
		
	}

	
h3   {						<!--FOOTER-->
	text-decoration:none;
		color:rgba(255,255,255,1.00);
		
	}
	h3   a {						
	text-decoration:none;
		color:rgba(255,255,255,1.00);
		
	}
		h3   a:visited {						
	text-decoration:none;
		color:rgba(255,255,255,1.00);
		
	}
			h13 {
font-size:small;
color:#ffffff;
text-decoration:none;
		}
			h13 a {

color:#ffffff;
text-decoration:underline;
		}
					h13 a:visited {

color:#ffffff;
text-decoration:none;
		}
h14 {
	color:rgba(255,255,255,1.00);
	font-size:smaller;
	font-style:italic;
	display:inline-block;
	
	}

h4 {									<!--SÃGUENOS-->
	font-family: 'Libre Baskerville', serif;
	color:#4872b0;
	font-size:medium;
	font-style:italic;
	display:inline-block;
	
	}
	
h5 {								SIGUIENTE ATERIOR
	font-family: 'News Cycle', sans-serif;
	font-size:medium;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	}
	
h5 a {								SIGUIENTE ATERIOR
	font-family: 'News Cycle', sans-serif;
	font-size:medium;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	}
	
h5 a:link a:visited a:hover a:active  {								SIGUIENTE ATERIOR
	font-family: 'News Cycle', sans-serif;
	font-size:medium;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	}
h6 {
	line-height:120%;}
h6 a {             					TIENDA
	font-family: 'News Cycle', sans-serif;
	font-size:large;
	font-weight:bold;
	color:#1d70b8;
	padding:1% 3%;
	text-decoration:none;
}

	h6 a:hover {
background:#1d70b8;
color:#ffffff;
padding:1% 3%;
text-decoration:none;


webkit-transition: color .4s linear;
-moz-transition: color .4s linear;
-ms-transition: color .4s linear;
-o-transition: color .4s linear;
transition: color .4s linear;
	}
			
.claseh6 {
	float:right;
    cursor:pointer;
	padding:1%;
	margin: 4% 0% 0% 0%;

}
.h6class {
	margin-top:3%;
	margin-bottom:2%;
}
h7 {							<!--TITULO  NOTICIAS> NOTICIA-->
	font-family: 'News Cycle', sans-serif;
	font-size:x-large;
	font-weight:bold;
	color:#575756;
	line-height:130%;
	
}
h8  {											 P INDEX 
	font-family: 'News Cycle', sans-serif;
	font-size:medium;
	font-weight: normal;
	color:#575756;
	line-height:120%;
}
h9 {
		font-size:medium;
	color:#ffffff;
	margin: 0% 0% 0% 3%;
	
	line-height:normal;}

h9 a {
	padding-left:8%;
	color:#ffffff;
 text-decoration:none;

 -webkit-transition: color .4s linear;
 -moz-transition: color .4s linear;
 -ms-transition: color .4s linear;
 -o-transition: color .4s linear;
 transition: color .4s linear; }
 
h9 a:hover { background:rgba(255,255,255,0.66);
color:#165f9e;

webkit-transition: color .4s linear;
-moz-transition: color .4s linear;
-ms-transition: color .4s linear;
-o-transition: color .4s linear;
transition: color .4s linear;
}
h10 {
	font-family: 'News Cycle', sans-serif;
	font-size:xx-large;
	color:#1d70b8;
}
.h10class {
	margin-top:0%;
	margin-bottom:2%;
	
}
.h10class2 {
	margin-top:3%;
	
}
h11 {											 P INDEX - precio tienda 
	font-family: 'News Cycle', sans-serif;
	font-size:medium;
	font-weight: normal;
	color:#575756;
	padding:3% 0% 0% 3%;
}
h12 {
background:#1d70b8;
color:#ffffff;
padding:1% 3%;
text-decoration:none;
		}


p {
	font-family: 'News Cycle', sans-serif;
	font-size:medium;
	font-weight: normal;
	color:#B2B2B2;
	margin:6%;
}
	
#botonmas {
	float:right;
	background-color:#1d70b8;
    width:20%;
    height:4%;
    border:none;
    cursor:pointer;
	padding:1%;
	margin: 4% 0% 0% 0%;
}
#botonmas:hover{
	background-color:#348BDD;
}

#botonvoluntariado {
	background-color:#1d70b8;
    width:20%;
    height:4%;
    border:none;
    cursor:pointer;
	padding:2%;
	margin: 4% auto 0% auto;
	text-align:center;
	
}
#botonvoluntariado:hover{
	background-color:#348BDD;
}


article {
	margin: 3% 0%;
	
}
.fotonoticia {
	margin:2% 0%;}
	
.margenfecha  {
	margin:1% 3%;
	
}
.parrafonoticia  {
	margin:0% 3%;
	
	
}
#masnoticias {
	
	margin:5% 0%;
	padding:5% 0%;
	width: 100%;
	float: left;
	border-top-color: #1d70b8;
	border-bottom-color: #1d70b8;
	border-width: 4px 0px 4px 0px;
	border-style: solid;	

}

.separadorcatalogo {
		margin:2% 0%;
		border-width: 0px 0px 2px 0px;
		border-bottom-color:#ffffff;
		border-style:dotted;
	
}
#somoscaja1 {
	width:48%;
	float:left;
	
}
#somoscaja2 {
	width:48%;
	float:right;
	
}
#imagensomos {
	margin:0px auto;
	text-align:center;
	float:none;
	

	-webkit-transition: all 0.5s;
	
}
#imagensomos:hover {
	transform: scale(0.8);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);

}
#mision {
	width:40%;
	float:left;
	background:#1d70b8;
	padding:2%;
	
}
#vision {
	width:40%;
	float:right;
	background:#1d70b8;
	padding:2%;
	
}
h15 {
	font-size:xx-large;
	color:#ffffff;
	text-decoration:none;
	
	
}
h15 a {
	font-size:xx-large;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	
}

.tiendacol_izq {
	display:block;
	float: left;
	width: 20%;
	
}
.tiendacol_izq1 {
	
	background-image:url(images/fondo.png);
	margin: 5% 0%;
	border-radius: 5px;
	padding:0% 2%;
	display:block;
}
.tiendacol_izq2 {
	
	float: left;
	display:block;
}

#tiendacol_der {
	margin: 0% 0% 0% 0%;
	float:right;
	width:70%;
	display:block;

	}
	
#producto1 {
	width:30%;
	float:left;
	margin-bottom:5%;
	
	}
	
#producto2 {
	width:30%;
	float:left;
	margin: 0% 5%;
	margin-bottom:5%;
	
	}
#producto3 {
	width:30%;
	float:right;
	margin-bottom:5%;
	
}
#parrafotienda {
	width:100%;
	margin-top:5% ;
	
}
.producto {
	margin: 0px auto;
	text-align:center;
	
}


#procesoizq {
	float:left;
	display:inline-block;
	width:20%;
}
#procesoder {
	float:right;
	display:inline-block;
	width:78%;
}

footer {
	background:url(images/fondo.png);
	background-repeat:repeat;
	background-attachment:fixed;
	width:100%;
	margin-top:5%;
	padding:2% 0% 2% 0%;
	
}
#colfoot1 {
	width:40%;
	float:left;
	display:inline;
}
#colfoot11 {
	display:block;
}
#colfoot12 {
	margin-top:5%;
	display:block;
}


#colfootizq1 {
	width:30%;
	float:left;
	}
#colfootizq2 {
	width:30%;
	float:left;
	margin-left:5%;
	margin-right:5%;
}
#colfootizq3 {	
	width:30%;
	float:right;
	
	}

#colfoot2 {
	width:60%;
	float:right;
	display:inline;
}
#colfoot21 {
	float:left; display:inline;width:45%;
} 
#colfoot22 {
	float:right;display:inline; width:45%;}
	
#colfoot3 {
	width:40%;
	float:left;
	display:inline;
	margin-top:8%;
}	

.activador {
	display:none;}
	
							<!--FORMULARIO -->

label {
    
	font-family: 'Ubuntu', sans-serif;
	text-align:justify;
	color:rgba(100,100,100,1.00);
	font-size: 1em;
    margin-top:10px;

}
.formulario {
    display:block;
    margin:5% auto;
    width:80%;
    color:rgba(55,55,55,1.00);
	text-align:left;
}
form {
    margin:0 auto;
    width:100%;
}
 
input, textarea {
    width:100%;
    height:16px;
    background-color:rgba(100,100,100,1.00);
    border:2px solid #f6f6f6;
    padding:5px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:130px;
}
 
#submit {
	background-color:#1d70b8;
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
	color:#ffffff;
}
#mapa {
	margin: 0px auto;
	
	text-align:center;
	margin-bottom:4%;
}
.claseh1 {
	margin-bottom:4%;
	text-align:center;}

@media screen and (max-width :1030px) {
	#somoscaja1 {
	width:100%;
	float:none;
	display:block;
	
}
#somoscaja2 {
	margin-top:10%;
	width:100%;
	float:none;
	display:block;
	
}
	#colfoot2 {
	margin-top:20%;
}
	#cajacolumnas1 {
	
	margin-top:8%}
	
	.activador{
		display:block;}
	

	#col1 {
		width:100%;
		float:none;
	
	display:block;
	
	}

#col2 {
	margin:5% 0% 0% 0%;
			width:100%;
		float:none;
	
	display:block;
	}

#col3 {
	margin-top:5%;
	
			width:100%;
		float:none;
	
	display:block;}


	.h10class2 {
	margin-top:6%;
	
}
	
	#logo {
	width:100%;
	float:none;
	text-align:center;
padding: 0%;
margin:0%;
	display:block;
}
.margenlogo { margin-top:12%;}

#rs {	
	width: 100%;
	float:none;
	text-align:center;
	margin-top:1%;
	display:block;
}
	.tiendacol_izq {
	float: none;
	width: 100%;
	display:block;
}
	.tiendacol_izq1 {
	float: none;
	width: 100%;
	display:block;
}

	.tiendacol_izq2 {
	float: none;
	width: 100%;
	display:block;
}

h9 a:hover { 

padding:0.5% 3%; }

.separadorcatalogo {
		margin:1% 0%;}

#tiendacol_der {
	width:100%;
	float:none;
}
#botonmas {
	width:30%;
}
#colfoot1 {
	width:100%;
	float:none;
	display:block; }
	
#colfoot2 {
	width:100%;
	float:none;
	display:block;
	margin:5% 0%;
	
}
	#slider {
	margin-top:5%;
	
}
.separadornoticias {
	margin:40% 0%; }	
	
		#cajanoticiascolor{
	margin:5%;	
}
	
	
@media screen and (max-width :650px) {
	
	#mision {
	width:100%;
	float:none;
	display:block;
	
}
#vision {
	margin-top:5%;
	width:100%;
	float:none;
	display:block;
	
}
	
	#somoscaja2 {
	margin-top:15%;
	
	
}
	#colfoot3 {
		float:none;
		width:100%;
		display:block;
		
	}
		#cajacolumnas1 {
	
	margin-top:13%}
	
	

#col2 {
	margin-top:15%;
	}

#col3 {
	margin-top:15%;}
	
		#cajanoticiascolor{
	margin:7%;	
}
.separadornoticias {
	margin:30% 0%; }
.parrafonoticia {
	display:none;
}
	.h10class2 {
	margin-top:10%;
	
}
	
	#slider {
	margin-top:2%;
	
}
	
	#procesoizq {
	float:none;
	text-align:center;
	display:block;
	width:90%;
}
#procesoder {
	float:none;
	text-align:center;
	display:block;
	width:90%;
	margin-top:5%;
}
	#botonmas {
	width:40%;
	}
	.margenlogo { margin-top:20%;}
	.navtexto { display:none;}
#colfootizq1 {
	display:block; float:none; margin-bottom:2%; width:100%;
	}
#colfootizq2 {
display:block; float:left;margin: 0% 0% 2% 0%;width:100%;

}
#colfootizq3 {	
	display:block;float:none;width:100%;
	
	}
	#colfoot21 {
	float:none;display:block;width:100%;text-align:center; margin: 0px auto 2% auto;
} 
#colfoot22 {
	float:none;display:block;width:100%;text-align:center; margin: 5% auto 0% auto;
}
#colfoot12 {
	margin-top:0%;
}
#colfoot1 {
	display:none;}
	
	#botonvoluntariado {
    width:60%;
    height:6%;
    border:none;
    cursor:pointer;
	padding:5%;
	margin: 6% auto 0% auto;
	
	
}
	
@media screen and (max-width :440px) {
	#vision {
	margin-top:10%;
	
}
		#somoscaja2 {
	margin-top:20%;
	
	
}
		#cajacolumnas1 {
	
	margin-top:20%}
	
	.separadornoticias {
	margin:40% 0%; }
	.parrafonoticia {
	display:none;}

		#cajanoticiascolor{
	margin:12%;	
}
.margenlogo { margin-top:25%;}


#botonvoluntariado {
    width:60%;
    height:6%;
    border:none;
    cursor:pointer;
	padding:5%;
	margin: 6% auto 0% auto;
	
	
}